{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block title %}Edit Movies{% endblock %}

{% block content %}
<div class="content">
  <h1 class="heading">{{ movie.title }}</h1>
  <p class="description">Edit Movie Rating</p>
  <form action="{{ url_for('edit', id= movie.id) }}" method="post" novalidate>
    {{ form.csrf_token }}
    {% for field in form %}
    <div class="mb-3">
      {{ field.label(class_= "form-label", for= field.id) }}
      {% if request_method == "GET" or not(field.errors) %}
        {{ field(class_= "form-control") }}
      {% else %}
        {{ field(class_= "form-control is-invalid") }}
      {% endif %}

      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  </div>
{% endblock %}